
body_shop.py
**/.DS_Store
Dependencies/binary.txt
Dependencies/date_last_updated.txt
*.pyc
Dependencies/LOG.txt
*.csv
*.xlsx
Rosters/*
!Rosters/.READMEIFUWANT
__pycache__/*
build/*
dist/*
match_portable.spec
password.json